<ion-view view-title="Event">
  <ion-content class="padding">

    <h2>{{event.title}}</h2>
    <p>{{event.description}}</p>
    <p>Start Time: {{event.date_start | date:'medium'}}</p>
    <p>End Time: {{event.date_end | date:'medium'}}</p>
    <p>People Attending: {{event.people_count}}</p>


    <form novalidate class='create-form'>

      <button name='event.people_count' class='button button-full'
       ng-class="noSwipe ? 'button-dark' : (swiped ? 'button-balanced' : 'button-assertive')"
        on-swipe-right="update(event)"
        on-swipe-left="no(event)">
        <p id="choices">Are you going: {{rsvp}}</p>
      </button>
      </form>
  </ion-content>
</ion-view>
