<ion-view view-title="Create">
  <ion-content ng-controller="CreateCtrl">
    <div>
      <form novalidate class='create-form'>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Event Name</span>
        <input type='text' ng-model='event.name' placeholder='Event Name'/></label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Description</span>
        <textarea type='text' ng-model='event.description' placeholder="Description"></textarea></label>
        <label class='item item-input item-select'>
          <div class='input-label'>Category</div>
        <select name='event.category'>
          <option value='sports'>Sports</option>
          <option value='entertainment'>Ent</option>
          <option value='leisure'>Leisure</option>
          <option value='creative'>Creative</option>
          <option value='misc'>Misc</option>
          <option value='other'>Other</option>
        </select></label>
        <label class="item item-input item-stacked-label">
           <span class='input-label'>Address</span>
        <input type='text' ng-model='event.address' placeholder='Address'/></label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Date</span>
          <input type='date' ng-model='event.date'/></label>
        <label class="checkbox">
        <input type='checkbox' name='event.adult'/>21+
        </label>
        <label class="checkbox">
        <input type='checkbox' name='event.private'/>Private?
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>


<!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-radio-waves icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
