<ion-view view-title="Create">
  <ion-content ng-controller="CreateCtrl">
    <div>
      <form class='create-form'>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Event Name</span>
          <input type='text' ng-model='event.title' placeholder='Event Name'/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Description</span>
          <textarea type='text' ng-model='event.description' placeholder="Description">
          </textarea>
        </label>
        <label class='item item-input item-select'>
          <div class='input-label'>Category</div>
          <select ng-model='event.category'>
            <option value='sports'>Sports</option>
            <option value='entertainment'>Entertainment</option>
            <option value='social'>Social</option>
            <option value='misc'>Misc</option>
            <option value='video_games'>Video Games</option>
            <option value='food'>Food</option>
            <option value='outdoors'>Outdoors</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
           <span class='input-label'>Address</span>
          <input type='text' ng-model='event.location' placeholder='Address'/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Date/Time Start</span>
          <input type='datetime-local' ng-model='event.date_start'/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>Date/Time End</span>
          <input type='datetime-local' ng-model='event.date_end'/>
        </label>
        <button class='button button-full button-balanced' ng-click="update(event)"/>
          Create Event
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>

