<ion-view view-title="Profile">
  <ion-content class="padding" >
  <div>
    <img src="http://i.imgur.com/atz81.jpg" class='profile-pic'>
  </div>
  <div>
    <ul>
      <li>My NAme IS Andrew</li>
      <li>My NAme IS Andrew</li>
      <li>My NAme IS Andrew</li>
    </ul>
  </div>
  <div>
    Host Rating:
    <progress class='host-rating' value='75' max='100'></progress>
    Guest Rating:
    <progress class='guest-rating' value='45' max='100'></progress>
  </div>

  <div class='upcoming' >
    <h3>Upcoming Events</h3>
    <ul  ng-controller="EventsCtrl">
      <li ng-repeat="event in events" ng-controller="EventsCtrl"><a href="#/event-detail/{{event.id}}">{{event.name}}</a></li>
    </ul>
  </div>

  </ion-content>
</ion-view>
