/* Empty. Add your own CSS if you like */

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  /*top: 163px;*/
  /*position: absolute;*/
}

.profile-pic {
  width: 20%;
  height: 20%;
}
